# Private unpublished Marcarelli CAREER Nitrogen Fixation and Denitrification rates data
/data/CAREER_RatesTable.csv
/data/CAREER_SiteAttributes.csv
/docs/data/CAREER_RatesTable.csv
/docs/data/CAREER_SiteAttributes.csv

# Ignore history and RProject files
*.Rhistory
*.DS_Store
/Data/.DS_Store
*.Rproj
.Rapp.history
*Icon?
*Icon
/data/Icon

# Ignore Rmd default cache directory
/cache/

# Ignore any temp files that are created by Rmd
*.utf9.md
*.knit.md
*.tmp
.Rproj.user

# Ignore large RData files and zip files
*.RData
*.zip